name: Docker Image CI

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Git checkout
      uses: actions/checkout@v3
      with:
        ref: ${{ github.head_ref }}
    - name: Docker login
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
    - name: Inject slug/short variables
      uses: rlespinasse/github-slug-action@v4
    - name: Derive tag from branch slug
      run: echo "BRANCH=${GITHUB_REF_NAME_SLUG}" >> $GITHUB_ENV
    - name: Build and push
      uses: docker/build-push-action@v2
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: ${{ secrets.DOCKER_USER }}/firewall-executor:latest, ${{ secrets.DOCKER_USER }}/firewall-executor:${{ env.BRANCH }}
