name: Rust

on:
  pull_request:
    branches:    
      - 'release/**'

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Git checkout
      uses: actions/checkout@v3
      with:
        ref: ${{ github.event.pull_request.head.sha }}
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
